<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h1 class="title">Gym Gallery</h1>

<div class="gallery">
    <img src="{{ url_for('static', filename='images/gym1.jpg') }}">
    <img src="{{ url_for('static', filename='images/gym2.jpg') }}">
    <img src="{{ url_for('static', filename='images/gym3.jpg') }}">
    <img src="{{ url_for('static', filename='images/gym4.jpg') }}">
    <img src="{{ url_for('static', filename='images/gym5.jpg') }}">
    <img src="{{ url_for('static', filename='images/gym6.jpg') }}">
    <img src="{{ url_for('static', filename='images/gym7.jpg') }}">
    <img src="{{ url_for('static', filename='images/gym8.jpg') }}">
    <img src="{{ url_for('static', filename='images/gym9.jpg') }}">
    <img src="{{ url_for('static', filename='images/gym10.jpg') }}">
</div>

</body>
</html>