<!DOCTYPE html>
<html>
<head>
    <title>PowerFit Gym</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>

<div class="hero">
    <div class="overlay">
        <h1>POWERFIT GYM</h1>
        <p>Transform Your Body, Transform Your Life</p>

        <div class="buttons">
            <a href="/form" class="btn">Join Now</a>
            <a href="/gallery" class="btn">View Gallery</a>
        </div>
    </div>
</div>

</body>
</html>