<!DOCTYPE html>
<html>
<head>
    <title>Success</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>

<body>

<div class="success-container">

    <div class="success-card">

        <div class="tick">✔</div>

        <h1>Registration Successful</h1>

        <p>Welcome, <strong>{{name}}</strong></p>
        <p>Your fitness journey starts now 💪</p>

        <a href="/" class="home-btn">Go Back Home</a>

    </div>

</div>

</body>
</html>